<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Store</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-indigo-50">
    <div class="w-screen  h-screen ">
        <header class="header">
            <h1 class="h-12 py-2 text-indigo-700 text-3xl px-10 border-b-2 shadow-lg">YOUR STORE</h1>
        </header>
        <div class=" border  h-[90%] flex flex-col justify-center items-center gap-10">
            <h1 class="text-center text-5xl font-bold">Welcome To Your Store Backend</h1>
            <div class="flex md:gap-5 lg:gap-10    gap-1 justify-around ">
                <a href="https://github.com/rohit-bahuguna/your-store-backend.git" target="_blank">
                    <button
                        class="text-lg border border-indigo-700 text-indigo-700 hover:bg-indigo-100 rounded-full px-5  py-1">Github</button>
                </a>

                <a href="" target="_blank">
                    <button
                        class="text-lg border border-indigo-700 text-indigo-700 hover:bg-indigo-100 rounded-full px-5 py-1">Live
                    </button>
                </a>

                <a href="https://yourstore-rohit.vercel.app" target="_blank">
                    <button
                        class="text-lg border border-indigo-700 text-indigo-700 hover:bg-indigo-100 rounded-full px-5 py-1">Your
                        Store</button>
                </a>

            </div>
            <div>
                By <a href="https://rohitbahuguna.vercel.app" target="_blank"><span class="text-indigo-600">Rohit
                        Bahuguna</span></a>
            </div>
        </div>
    </div>
</body>

</html>